<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>J.A.S.E.</title>
</head>
<body>
    <h1>Just Another Search Engine (J.A.S.E.)</h1>
    <p>Over 1000 Websites catalogued.</p>
    <hr>
    <form action="/search" method="get">
        <div><input type="text" name="query" placeholder="Enter search query"></div>
        <button type="submit">Search</button>
    </form>
</body>
</html>
